/* Cart Page Container */
.cart-container {
    margin          : 0 auto;
    padding         : 40px 40px 0px 40px;
    background-color: #fff;
    text-align      : center;
    padding-top     : 120px;
    display         : flex;
    width           : 100%;
    justify-content : space-between;
}

.empty-cart-container {
    background   : #FFF;
    border       : 1px solid rgb(229 231 235);
    padding      : 60px;
    box-shadow   : 0 25px 25px rgba(0, 0, 0, 0.1);
    margin-top   : 30px;
    border-radius: 20px;
    width        : 100%;
}

.empty-cart-container p {
    margin-top: 20px;
}

h1 {
    font-size    : 32px;
    color        : #333;
    margin-bottom: 30px;
    font-weight  : bold;
    line-height  : 32px;
}